<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @cart.product_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cart.category %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
